In [87]:
import pandas as pd

In [88]:
n = 7
table = pd.DataFrame()

for i in range(1, n + 1):
    table[i] = pd.read_csv(f'./Model/Table_{i}.csv')

test = pd.read_csv("./Data/test_label.csv")

In [89]:
test

             id Class
0    sample_718  KIRC
1    sample_391  BRCA
2    sample_703  KIRC
3    sample_452  BRCA
4    sample_289  KIRC
..          ...   ...
327  sample_788  PRAD
328  sample_794  PRAD
329  sample_798  COAD
330  sample_799  PRAD
331  sample_800  PRAD

[332 rows x 2 columns]

In [90]:
table

        1     2     3     4     5     6     7
0    KIRC  KIRC  KIRC  KIRC  KIRC  KIRC  KIRC
1    BRCA  BRCA  BRCA  BRCA  BRCA  BRCA  BRCA
2    KIRC  KIRC  KIRC  KIRC  KIRC  KIRC  KIRC
3    BRCA  BRCA  BRCA  BRCA  BRCA  BRCA  BRCA
4    KIRC  KIRC  KIRC  KIRC  KIRC  KIRC  KIRC
..    ...   ...   ...   ...   ...   ...   ...
327  PRAD  PRAD  PRAD  PRAD  BRCA  PRAD  PRAD
328  PRAD  PRAD  PRAD  PRAD  PRAD  PRAD  PRAD
329  COAD  COAD  COAD  PRAD  COAD  LUAD  COAD
330  PRAD  PRAD  PRAD  PRAD  PRAD  PRAD  PRAD
331  PRAD  PRAD  PRAD  PRAD  PRAD  PRAD  PRAD

[332 rows x 7 columns]

In [91]:
eval_label=pd.concat([test, table], axis=1)
eval_label

             id Class     1     2     3     4     5     6     7
0    sample_718  KIRC  KIRC  KIRC  KIRC  KIRC  KIRC  KIRC  KIRC
1    sample_391  BRCA  BRCA  BRCA  BRCA  BRCA  BRCA  BRCA  BRCA
2    sample_703  KIRC  KIRC  KIRC  KIRC  KIRC  KIRC  KIRC  KIRC
3    sample_452  BRCA  BRCA  BRCA  BRCA  BRCA  BRCA  BRCA  BRCA
4    sample_289  KIRC  KIRC  KIRC  KIRC  KIRC  KIRC  KIRC  KIRC
..          ...   ...   ...   ...   ...   ...   ...   ...   ...
327  sample_788  PRAD  PRAD  PRAD  PRAD  PRAD  BRCA  PRAD  PRAD
328  sample_794  PRAD  PRAD  PRAD  PRAD  PRAD  PRAD  PRAD  PRAD
329  sample_798  COAD  COAD  COAD  COAD  PRAD  COAD  LUAD  COAD
330  sample_799  PRAD  PRAD  PRAD  PRAD  PRAD  PRAD  PRAD  PRAD
331  sample_800  PRAD  PRAD  PRAD  PRAD  PRAD  PRAD  PRAD  PRAD

[332 rows x 9 columns]

In [92]:
eval_label['Most_Frequent_Class'] = eval_label.iloc[:, 2:].apply(lambda x: x.value_counts().idxmax(), axis=1)

In [93]:
eval_label

,id,Class,1,2,3,4,5,6,7,Most_Frequent_Class
0,sample_718,KIRC,KIRC,KIRC,KIRC,KIRC,KIRC,KIRC,KIRC,KIRC
1,sample_391,BRCA,BRCA,BRCA,BRCA,BRCA,BRCA,BRCA,BRCA,BRCA
2,sample_703,KIRC,KIRC,KIRC,KIRC,KIRC,KIRC,KIRC,KIRC,KIRC
3,sample_452,BRCA,BRCA,BRCA,BRCA,BRCA,BRCA,BRCA,BRCA,BRCA
4,sample_289,KIRC,KIRC,KIRC,KIRC,KIRC,KIRC,KIRC,KIRC,KIRC
...,...,...,...,...,...,...,...,...,...,...
327,sample_788,PRAD,PRAD,PRAD,PRAD,PRAD,BRCA,PRAD,PRAD,PRAD
328,sample_794,PRAD,PRAD,PRAD,PRAD,PRAD,PRAD,PRAD,PRAD,PRAD
329,sample_798,COAD,COAD,COAD,COAD,PRAD,COAD,LUAD,COAD,COAD
330,sample_799,PRAD,PRAD,PRAD,PRAD,PRAD,PRAD,PRAD,PRAD,PRAD
331,sample_800,PRAD,PRAD,PRAD,PRAD,PRAD,PRAD,PRAD,PRAD,PRAD

In [94]:
from sklearn.metrics.cluster import  pair_confusion_matrix
actual = eval_label['Class']
predicted = eval_label['Most_Frequent_Class']

In [96]:
from sklearn.metrics import classification_report

# Calculating performance scores
print(classification_report(actual, predicted, digits=4))

              precision    recall  f1-score   support

        BRCA     1.0000    1.0000    1.0000        56
        COAD     0.9286    1.0000    0.9630        78
        KIRC     1.0000    1.0000    1.0000        29
        LUAD     1.0000    0.8182    0.9000        33
        PRAD     1.0000    1.0000    1.0000       136

    accuracy                         0.9819       332
   macro avg     0.9857    0.9636    0.9726       332
weighted avg     0.9832    0.9819    0.9814       332

In [97]:
accuracy_list = []
for i in range(1, n + 1):
    accuracy_list.append((eval_label[eval_label['Class'] == eval_label[i]].count() / len(eval_label))['id'])
    print('Accuracy:', accuracy_list[i - 1])

Accuracy: 0.9337349397590361
Accuracy: 0.9518072289156626
Accuracy: 0.9578313253012049
Accuracy: 0.9457831325301205
Accuracy: 0.9548192771084337
Accuracy: 0.9307228915662651
Accuracy: 0.9427710843373494

In [98]:
import numpy as np

average_accuracy = np.mean(accuracy_list)
print(f'Model Accuracy : {average_accuracy}')

Model Accuracy : 0.945352839931153