In [1]:
import pandas as pd

In [2]:
n = 6
table = pd.DataFrame()

for i in range(1, n + 1):
    table[i] = pd.read_csv(f'./Model/Table_{i}.csv')

test = pd.read_csv("./Data/test_label.csv")

In [3]:
test

             id Class
0    sample_718  KIRC
1    sample_391  BRCA
2    sample_703  KIRC
3    sample_452  BRCA
4    sample_289  KIRC
..          ...   ...
327  sample_788  PRAD
328  sample_794  PRAD
329  sample_798  COAD
330  sample_799  PRAD
331  sample_800  PRAD

[332 rows x 2 columns]

In [4]:
table

        1     2     3     4     5     6
0    KIRC  KIRC  KIRC  KIRC  KIRC  KIRC
1    BRCA  BRCA  BRCA  BRCA  BRCA  BRCA
2    KIRC  KIRC  KIRC  KIRC  KIRC  KIRC
3    BRCA  BRCA  BRCA  BRCA  BRCA  BRCA
4    KIRC  KIRC  KIRC  KIRC  KIRC  KIRC
..    ...   ...   ...   ...   ...   ...
327  PRAD  PRAD  PRAD  PRAD  BRCA  PRAD
328  PRAD  PRAD  PRAD  PRAD  PRAD  PRAD
329  COAD  COAD  COAD  PRAD  COAD  LUAD
330  PRAD  PRAD  PRAD  PRAD  PRAD  PRAD
331  PRAD  PRAD  PRAD  PRAD  PRAD  PRAD

[332 rows x 6 columns]

In [5]:
eval_label=pd.concat([test, table], axis=1)
eval_label

             id Class     1     2     3     4     5     6
0    sample_718  KIRC  KIRC  KIRC  KIRC  KIRC  KIRC  KIRC
1    sample_391  BRCA  BRCA  BRCA  BRCA  BRCA  BRCA  BRCA
2    sample_703  KIRC  KIRC  KIRC  KIRC  KIRC  KIRC  KIRC
3    sample_452  BRCA  BRCA  BRCA  BRCA  BRCA  BRCA  BRCA
4    sample_289  KIRC  KIRC  KIRC  KIRC  KIRC  KIRC  KIRC
..          ...   ...   ...   ...   ...   ...   ...   ...
327  sample_788  PRAD  PRAD  PRAD  PRAD  PRAD  BRCA  PRAD
328  sample_794  PRAD  PRAD  PRAD  PRAD  PRAD  PRAD  PRAD
329  sample_798  COAD  COAD  COAD  COAD  PRAD  COAD  LUAD
330  sample_799  PRAD  PRAD  PRAD  PRAD  PRAD  PRAD  PRAD
331  sample_800  PRAD  PRAD  PRAD  PRAD  PRAD  PRAD  PRAD

[332 rows x 8 columns]

In [6]:
eval_label['Most_Frequent_Class'] = eval_label.iloc[:, 2:].apply(lambda x: x.value_counts().idxmax(), axis=1)

In [7]:
eval_label

             id Class     1     2     3     4     5     6 Most_Frequent_Class
0    sample_718  KIRC  KIRC  KIRC  KIRC  KIRC  KIRC  KIRC                KIRC
1    sample_391  BRCA  BRCA  BRCA  BRCA  BRCA  BRCA  BRCA                BRCA
2    sample_703  KIRC  KIRC  KIRC  KIRC  KIRC  KIRC  KIRC                KIRC
3    sample_452  BRCA  BRCA  BRCA  BRCA  BRCA  BRCA  BRCA                BRCA
4    sample_289  KIRC  KIRC  KIRC  KIRC  KIRC  KIRC  KIRC                KIRC
..          ...   ...   ...   ...   ...   ...   ...   ...                 ...
327  sample_788  PRAD  PRAD  PRAD  PRAD  PRAD  BRCA  PRAD                PRAD
328  sample_794  PRAD  PRAD  PRAD  PRAD  PRAD  PRAD  PRAD                PRAD
329  sample_798  COAD  COAD  COAD  COAD  PRAD  COAD  LUAD                COAD
330  sample_799  PRAD  PRAD  PRAD  PRAD  PRAD  PRAD  PRAD                PRAD
331  sample_800  PRAD  PRAD  PRAD  PRAD  PRAD  PRAD  PRAD                PRAD

[332 rows x 9 columns]

In [8]:
accuracy = eval_label[eval_label['Class'] == eval_label['Most_Frequent_Class']].count() / len(eval_label)
print('Bagging Accuracy:', accuracy['id'])

Bagging Accuracy: 0.9819277108433735

In [9]:
accuracy = []
for i in range(1, n + 1):
    accuracy.append((eval_label[eval_label['Class'] == eval_label[i]].count() / len(eval_label))['id'])
    print('Accuracy:', accuracy[i - 1])

Accuracy: 0.9337349397590361
Accuracy: 0.9518072289156626
Accuracy: 0.9578313253012049
Accuracy: 0.9457831325301205
Accuracy: 0.9548192771084337
Accuracy: 0.9307228915662651

In [10]:
import numpy as np

average_accuracy = np.mean(accuracy)
print(f'Model Accuracy : {average_accuracy}')

Model Accuracy : 0.9457831325301204